@import '../../assets/scss/index.scss';

.weather-container {
	padding: 25px;
	border-radius: 20px;
	margin-bottom: 30px;
	background-color: $black-perl;
	color: #fff !important;
	min-height: 700px;

	@include md {
		padding: 30px 45px 30px 30px;
		border-radius: 20px 0 0 20px;
	}

	.form-control:focus,
	.form-control:active {
		box-shadow: none;
		outline: none;
		border: 1px solid #ced4da;
	}

	.search-box {
		.form-control {
			color: #fff;
			background-color: $black-perl;
			border: 1px solid $black-perl;
			border-radius: 8px;

			&:focus,
			&:active {
				border: 1px solid $nero;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
			}
		}
	}

	.card {
		border: none;
		background-color: $black-perl;
		border-radius: 20px;

		.p-0-mob {
			padding: 0;

			@include md {
				padding: 1.25rem;
			}
		}

		.card-body {
			.media {
				position: relative;

				.media-body {
					.card-title {
						letter-spacing: 6px;
					}

					.card-subtitle {
						letter-spacing: 0.5px;
					}
				}
			}

			.temp-box {
				.temp {
					padding: 25px 0;

					.min {
						font-size: 24px;
						margin-top: 45px;
						opacity: 0.6;
					}

					.main {
						font-size: 7em;
						font-weight: 100;
						line-height: 100%;
					}

					.temp-unit {
						font-size: 25px;
						position: absolute;
						padding-left: 0px;
						top: 105px;
					}
				}
			}

			.f-med {
				font-size: 18px;
			}

			.f-small {
				font-size: 14px;
			}

			.weather-details {
				display: flex;
				align-items: start;
			}

			.weather-details img {
				float: left;
				margin: 10px 15px;
				color: #fff;
				height: 25px;
			}

			.round-card {
				border-radius: 20px;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.24), 0 1px 4px rgba(0, 0, 0, 0.33);

				.capitaliz {
					text-transform: capitalize;
				}
			}
		}
	}
}
