@import "./assets/scss/index.scss";

.app {
  .round-square {
    margin: 5%;
  }

  .left-side {}

  .components {
    background-color: $cinder;
    border-radius   : 0 20px 20px 0px;
    min-height      : 200px;
    padding         : 30px;

    @include md {
      border-radius: 20px;
      padding      : 25px;
      margin-left  : 0px;
    }
  }

  .right-side {
    .todo-main {
      padding      : 0;
      margin-bottom: 20px;

      @include sm {
        padding-left: 0;
      }
    }

    .football-main {
      padding: 0;

      @include sm {
        padding: 0 15px;
      }
    }
  }
}