@import "./assets/scss/index.scss";

.app {
  .round-square {
    margin: 2% 5%;
  }

  .card {
    background-color: $black-perl;
  }

  .components {
    background-color: $cinder;
    border-radius   : 20px;
    min-height      : 200px;
    padding         : 25px;
    margin-left     : 0px;
    max-height      : 700px;

    @include md {
      border-radius: 0 20px 20px 0;
      min-height   : 200px;
      padding      : 30px;
      margin-left  : -15px;
    }
  }

  .right-side {
    .todo-main {
      margin-bottom: 20px;
      padding      : 0;

      @include lg {
        padding-right: 30px;
      }
    }

    .football-main {
      padding: 0px;

      @include lg {
        padding-right: 0;
      }
    }
  }
}