.round-square {
  margin: 5%;
}

.components {
  background-color: #252B32;
  border-radius   : 0 20px 20px 0px;
  min-height      : 200px;
  padding         : 30px;
}

@media only screen and (min-width: 768px) {

  /* tablets and desktop */
  .todo-main {
    padding-left: 0;
  }

  .football-main {
    padding-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .components {
    border-radius: 20px;
    padding      : 25px;
    margin-left  : 0px;
  }

  .todo-main {
    padding      : 0;
    margin-bottom: 20px;
  }

  .football-main {
    padding: 0;
  }
}

.scrollbar {
  margin-bottom: 5px;
}

#style-1::-webkit-scrollbar {
  width           : 5px;
  background-color: #1A1F24;

}

#style-1::-webkit-scrollbar-thumb {
  border-radius     : 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color  : #121212;
}